{% extends 'back/baseBack.html' %} {% load static %} {% block konten %}
<div class="content-wrapper">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tambahkan Doa</h4>
        <p class="card-description">
          Doa akan ditampilkan pada halaman website
        </p>
        <form class="forms-sample" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputName1">Judul</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputName1"
              placeholder="Masukkan judul"
              name="judul"
              value="{{cek.judul}}"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleTextarea1">Textarea</label>
            <textarea
              class="form-control"
              id="exampleTextarea1"
              rows="4"
              name="konten1"
              required
            >
{{cek.deskripsi | safe}}</textarea
            >
          </div>
          <button type="submit" class="btn btn-gradient-primary me-2">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock konten %}
